$white: #fff;
$black: #000;
$orange: #ff9023;
$blue: #0097ff;
$green: #2ac8bc;
$gray-20: #fbfbfb;
$gray-50: #eee;
$gray-50-hover: #ccc;
$gray-100: #85868f;
$gray-200: #50525f;
$gray-300: #6f6f6f;

.color--blue {
	color: $blue;
}

.color--red {
	color: $red;
}